*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --text-color:#fff;
    --bg-color: #1b1f24;
    --second-bg-color: #22282f;
    --main-color: #13bbff;
    --other-color: #c3cad5;

    --h1-font: 4.5rem;
    --h2-font: 2.9rem;
    --p-font:  1rem;
}

body{
    color: var(--text-color);
    background: var(--bg-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 16%;
    background: transparent;
    transition: all .50s ease;
}

.logo{
    font-size: 36px;
    color: var(--text-color);
    font-weight: 600;
}

span{
    color: var(--main-color);
}

.navlist{
    display: flex;
    background: var(--bg-color);
}

.navlist a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    margin-left: 40px;
    transition: all .50s ease;
}

    .navlist a:hover{
        text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
    }

#menu-icon{
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}



.h-btn{
    display: inline-block;
    padding: 11px 26px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    color: var(--main-color) !important;

}

.contact_me{
    margin-left: 20px;
}


    .h-btn:hover{
        background: var(--main-color);
        box-shadow: 0 0 20pxaboutvar(--main-color);
        color: var(--bg-color) !important;
        transform: scale(1.1);
    }

section{
    padding: 110px 16% 90px;
}

.hero{
    height: 100vh;
    width: 100%;
    background: url(./img/background_michael-min.png);
    background-position: top right;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-content h4{
    font-size: 1.6rem;
}

.main-content h1{
    font-size: var(--h1-font);
    font-weight: 400;
    margin: 20px 0px 20px;
    line-height: 1.2;
    width: 70%;
}

.main-content p{
    font-size: 20px;
    font-weight: 400;
    width: 620px;
    max-width: 100%;
    color: var(--other-color);
    line-height: 30px;
    margin-bottom: 15px;
}

.social{
    margin-bottom: 40px;

}

.social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--main-color);
    border-radius: 50%;
    backdrop-filter: brightness(88%);
    font-size: 20px;
    margin-right: 17px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all .50s ease;
}

.social i:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--main-color);
}


.btn{
    display: inline-block !important;
    padding: 11px 26px;
    background-color: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}

.btn:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--bg-color);
}

.btn2{
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    margin-left: 15px;
    transition: all .50s ease;
}

.btn2:hover{
    background: var(--main-color);
    color: var(--bg-color);
}



header.sticky{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem  rgba(0,0,0, .2);
    padding: 16px 16%;
}



.about{
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 10rem; /*Antes tenia 1*/
}

.about-img img{
    width: 100%;
    height: 530px; /*Antes tenia 530*/
    max-width: 530px; /*Antes tenia 530*/
    border-radius: 50%;
    object-fit: cover;
    border: 7px solid var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}

.about-text h2{
    font-size: var(--h2-font);
    line-height: 1.3;
    margin-bottom: 20px;
}

.exp-area{
    margin-bottom: 50px;
}

.exp-area p{
    color: var(--other-color);
    font-weight: 600;
    font-size: 19px;
    line-height: 37px;

}

.exp-area p span{
    color: var(--text-color);
    font: var(--p-font);
    font-weight: 400 ;
}

.technologies{
    margin-top: 20px;
}

.technologies i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: var(--other-color);
    border-radius: 50%;
    backdrop-filter: brightness(88%);
    font-size: 20px;
    margin-right: 20px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all .50s ease;
}

.technologies span{
    margin-right: 15px;
}


.technologies i:hover{
    color: var(--main-color);
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--other-color);
}


.center-text{
    text-align: center;
}

.center-text h2{
    font-size: var(--h2-font);
}

.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}

.box{
    padding: 40px 30px 66px;
    background: #2d343f;
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    transition: all .50s ease;
    cursor: pointer;

    box-sizing: border-box;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box img{
    margin-bottom: 20px;

}

.box-header{
    display: flex;
    align-items: center;
}

.box-header img{
    margin-right: 15px;
}

.box h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.box ul{
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--other-color);
    line-height: 30px;
    margin-bottom: 20px;
}

.box ul li{
    margin-top: 20px;
    list-style: disc !important;
    margin-left: 17px;


}

.box a{
    display: inline-block ;
    font-size: 22px;
    line-height: 1.273rem;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 7px;
    color: var(--text-color);
    border-bottom: 2px solid #5d6c83;
    transition: all .50s ease;
}

.box i{
    
    vertical-align: middle;
    font-size: 25px;
    color: var(--main-color);
    margin-left: 5px;
}

.box a:hover{
    border-bottom: 2px solid var(--main-color);
}

.box:hover{
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
}

.portfolio{
    background: var(--second-bg-color);
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}
.row img{
    height: auto;
    width: 100%;
    border-radius: 28px;
    margin-bottom: 1.4rem;
}

.row{
    background-color: #2d343f;
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding: 20px;
    transition: all .50s ease;
}

.main-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;

}

.row h5{
    font-size: 20px;
    font-weight: 600;
    color: var(--other-color);
    margin-bottom: 5px;
}

.row i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 17px;
    border-radius: 50%;
    color: var(--text-color);
    background-color: #075fe4;
}

.row h4{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
}

.row:hover{
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;
}

.showMore{
    display: flex;
    flex-direction: column;
}
.showMore #abrirModal{
    margin: 0;
}

.showMore h4{
    color: var(--other-color);
}

.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.2rem;
}

.contact-form form{
    position: relative;
    width: 600px;
}

form input, form textarea{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 05px var(--main-color);
    background: #2d343f;
    color: var(--text-color);
    margin-bottom: 20px;
    border-radius: 8px;
}

form input::placeholder, form textarea::placeholder{
    color: var(--other-color);
    font-size: 15px;
}

form .send-btn{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    color: var(--bg-color) ;
}

form .send-btn:hover{
    background-color: transparent;
    color: var(--main-color) !important;
    box-shadow: 0 0 20px var(--main-color);
    cursor: pointer;
}

.footer{
    padding: 22px 16%;
    background-color: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.copyright p{
    font-size: 15px;
    font-weight: 400;
    color: var(--other-color);
   
}

.scroll-top i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #075fe4;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 27px;
}

@media (max-width:1700px){
    header{
        padding: 20px 8%;
    }

    header.sticky{
        padding: 14px 8%;
    }

    section{
        padding: 90px 8% 80px;
    }

    .footer{
        padding: 18px 8%;
    }

    .logo{
        font-size: 28px;
    }
}



@media (max-width:1380px){
    .contenido-modal{
        width: 85% !important;
    }

    header{
        padding: 20px 5%;
    }

    header.sticky{
        padding: 14px 5%;
    }

    section{
        padding: 90px 5% 80px;
    }

    .footer{
        padding: 18px 5%;
    }

    .logo{
        font-size: 28px;
    }

    .hero{
        /* height: 90vh; */ /*decidi no ponerlo asi*/
        /* background-position:center ; */
    }
}

@media (max-width:1290px){
   
    .box{
        padding: 40px 40px 46px;
    }

    .box img{
        width: 100%;
        height: 60px;
        max-width: 60px;
    }

    .box h3{
        font-size: 21px;
    }

}

@media (max-width:1240px){
    .contenido-modal{
        width: 97% !important;
    }

    .contenido-modal img{
        width: 48% !important;

    }

    .container_text{
        width: 50% !important;

      }

    .about{
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
    }

    .about-img img{
        text-align: center;
        width: 100%;
        height: 400px;
        max-width: 400px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }
    :root{
        --h1-font: 4rem;
        --h2-font: 2.2rem;
        --p-font:  15px;
    }
}

@media (max-width:1100px){
    .hero{
        background-position: 90% ;
    }
}

@media (max-width:950px){

    .hero{
        /* height: 90vh; */ /*decidi no ponerlo asi*/
        background-position: 90% ;
    }
    .contenido-modal img{
        width: 80% !important;
    }

    .container_text_deep{
        display: none;
    }
    .container_text{
        text-align: center;
    }
    .accordion_container{
        display: block !important;
    }
    .panel{
        text-align: left;
    }
    :root{
        --h1-font: 3.5rem;
    }

    .social{
        margin-bottom: 20px;
    }


    #menu-icon{
        display: block;
    }

    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        flex-direction: column;
        background: var(--bg-color) !important;
        transition: all .50s ease;
    }

    .navlist a{
        display: block;
        padding: 17px;
        font-size: 22px;
    }

    .navlist.active{
        right: 0;
    }

    .container_title_modal{
        width: 88%;
        margin: 0 auto;
    }

    #container_img{
        flex-direction: column;
    }

    #container_img img{
        order: -1;
        width: 85%;
        margin: 0 auto;

    }
    
    .container_text{
        width: 85% !important;
        margin: 0 auto !important;
        margin-top: 20px !important;

    }


}
@media (max-width: 870px){
    
    .main-content p{
        margin-top: 20px;
    }
    .main-content p{
        width: 60%;
    }

    .hero h1{
        width: 70%;
    }
}

@media (max-width:750px){
    .hero{
        /* height: 90vh; */ /*decidi no ponerlo asi*/
        background-position: 84% ;
    }

    .contact_me{
        font-size: 13px;
        padding: 10px 20px;
    }
}

@media (max-width:680px){


    :root{
        --h1-font: 3rem;
        --h2-font: 1.2rem;
    } 
    

    .contenido-modal img{
        width: 80% !important;
    }
    .main-content p{  
        width: 70%;
        /* font-size: 18px; */
        /* Solucion al problema de que el p se sale de la pantalla */
    }

    .main-btn a {
        padding: 10px 20px !important;
    }
}

/* @media (max-width:490px){
    .fiverr_services_btn{
        margin: 0;
        margin-top: 10px;
    }
}    */



@media(max-width: 550px){
    header .logo{
        font-size: 25px !important;
        width: 40%;
    }

}

@media (max-width:500px){

    .hero{
        /* height: 90vh; */ /*decidi no ponerlo asi*/
        background-position: 84%;
    }
    :root{
        --h1-font: 2.2rem;
        --h2-font: 1.2rem;
    }
    
   

    .main-content p{
        margin-top: 20px;
        width: 70%;
        font-size: 18px;
    }

    .main-btn a {
        padding: 8px 20px !important;
    }

    .social a i{
        margin-right: 8px;
    }

    header .contact_me{
        padding: 10px 20px !important;
        font-size: 15px !important;
    }
    .about-img img{
        text-align: center;
        width: 100%;
        height: 300px;
        max-width: 300px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }

 

    
}


@media (max-width:381px){
    .dowload_cv{
        margin: 0;
        margin-top: 10px;
    }
}



/* Fondo modal: negro con opacidad al 50% */
.modal {
    display: none; /* Por defecto, estará oculto */
    position: fixed; /* Posición fija */
    z-index: 1; /* Se situará por encima de otros elementos de la página*/
    padding-top: 77px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
  }
  

  .abrirModal{
    display: flex !important;
  }

  #abrirModal{
    cursor: pointer;
  }
  /* Ventana o caja modal */
  .contenido-modal {
    border-radius: 2%;
    color: var(--text-color);
    position: relative; 
    background-color: var(--second-bg-color);
    margin: auto; 
    padding: 13px;
    width: 80%;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s
  }
  
  .contenido-modal h2{
    font-size: var(--h2-font);
  }


  #name_company {
    color: var(--other-color);
    border-bottom: 4px solid var(--other-color);
  }
  .container_text{
    width: 40%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
  }

  .container_text p{

    font-size: 15px;
    color: var(--other-color);
    margin-bottom: 40px;
    line-height: 1.5;
  }

  .container_text p:first-child{
    margin-top: 10px;
  }

  .container_text_deep{
    margin-bottom: 20px;
  }

  .container_text_deep p{
    margin-bottom: 15px;
  }
  
  .container_knowledge p{
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
  }

 

  .container_knowledge li{
    margin-left: 15px;
    list-style: disc !important;

    font-size: 14px;
    color: var(--other-color);
    line-height: 1.5;
    margin-bottom: 7px;
  }


  #technologies_modal{
    font-weight: bold;
    font-size: 16px;
    color: var(--text-color);

  }

  #technologies_modal{
    margin-bottom: 20px !important;
  }

  #technologies_modal i{
    font-size: 20px;
    margin: 0 5px;
    color: var(--main-color);
    transition: all .50s ease;
    cursor: pointer;
  }

  #technologies_modal i:hover{
    color: var(--text-color);
    transform: scale(1.2);
}
  #container_img{
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    
  }

    .container_title_modal{
        display: flex ;
        justify-content: space-between;
        align-items: center;
    }

    .container_title_modal i{
        margin-right: 15px;
        color: var(--main-color);
    }
    .container_title_modal h2{
        margin-left: 15px;
        display: inline-block;
        color: var(--text-color);
    }


    .contenido-modal img{
    height: auto;
    width: 55%;
    object-fit: contain;
    border-radius: 28px;
    margin-right: 15px;
  }


  
  .btns_modal button{
    display: inline-block;
    padding: 8px 15px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    color: var(--main-color) !important;
  }
  .btns_modal button:first-child{
    margin-right: 15px;
  }

  .btns_modal button a{
    color: var(--main-color) !important;

  }
  .btns_modal button a:hover{
    color: var(--bg-color) !important;

  }

  .btns_modal button:hover{
    background: var(--main-color);
    box-shadow: 0 0 20pxaboutvar(--main-color);
    color: var(--bg-color) !important;
    transform: scale(1.1);
}
  /* Animación */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
    
  @keyframes animarsuperior {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* Botón cerrar */

  
  .cerrar {
    font-size: 30px !important;
    color: var(--other-color);
  }



  /* Pruebas */

  .accordion_container{
    display: none;
  }



  .accordion_container_second{
    margin-bottom: 20px;
  }
  .accordion {
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    transition: all .50s ease;
    color: var(--main-color) !important;

    cursor: pointer;
    padding: 11px;
    width: 90%;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .accordion:hover {
    background: var(--main-color);
    box-shadow: 0 0 20pxaboutvar(--main-color);
    color: var(--bg-color) !important;
    transform: scale(1.03);
  }
  
  .panel {
    padding: 0 18px;
    color: var(--other-color);
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .panel p{
    margin-bottom: 5px;
    margin-left: 15px;
  }

  .panel .container_knowledge ul{
    margin-top: 10px;
    margin-left: 15px;
  }